.btn-cerrar-sesion{
    cursor: pointer;
}

.link-categoria {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.link-categoria:hover, .link-categoria:focus {
    background-size: 100% 2px;
    cursor: pointer;
}