<app-navbar></app-navbar>
<div class="container p-4">
    <h2 class="text-center fw-bold">Carrito de compras</h2>
    <div class="row">
        <div class="col-lg-9 position-relative table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of carrito" class="text-center">
                        <th scope="row">{{carrito.indexOf(p)+1}}</th>
                        <td>{{p.producto.nombre_volumen}}</td>
                        <td><img src="http://localhost:9898/api/volumen/foto/{{p.producto.id_volumen}}"
                                class="img-carrito" alt="img_nombre_prod"></td>
                        <td>S/.{{p.producto.precio.toFixed(2)}}</td>
                        <td>
                            <input type="number" class="form-control form-cantidad" value="{{p.cantidad}}">
                        </td>
                        <td>S/.{{(p.producto.precio * p.cantidad).toFixed(2)}}</td>
                        <td>
                            <button class="btn btn-danger">
                                <fa-icon [icon]="iconEliminar">
                                </fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 p-4">
            <div class="text-center" *ngIf="carrito.length > 0">
                <button class="btn btn-danger mb-2" (click)="carritoService.limpiarCarrito()">Limpiar carrito</button>
            </div>
            <div class="text-center" *ngIf="carrito.length > 0">
                <a class="btn btn-warning mb-3" [routerLink]="['/home']">Seguir comprando</a>
            </div>
            <div class="text-center" *ngIf="carrito.length == 0">
                <p>
                    El carrito está vacío, por qué no revisas nuestro <a [routerLink]="['/home']">catálogo</a>?
                </p>
            </div>
            <div class="card">
                <div class="card-header">
                    <p class="text-center mb-0">Generar Compra</p>
                </div>
                <div class="card-body">
                    <label>Subtotal</label>
                    <input type="text" class="form-control" readonly value="S/.{{subtotal.toFixed(2)}}">
                    <label>Descuento</label>
                    <input type="text" class="form-control" readonly value="S/{{descuento.toFixed(2)}}">
                    <label>Total a Pagar</label>
                    <input type="text" class="form-control fw-bold" readonly value="S/.{{total.toFixed(2)}}">
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="ms-auto btn btn-success" *ngIf="carrito.length > 0">Pagar ahora</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>