<div class="sidebar">
    <div class="header-box px-3 pt-3 pb-4">
        <h1 class="fs-4">
            <span class="bg-white text-dark rounded shadow px-2">CL</span>
            <span class="text-white">Mangastore</span>
        </h1>
    </div>
    <ul class="list-unstyled px-2">
        <li>
            <a href="#" class="text-decoration-none"><fa-icon [icon]="iconHome"></fa-icon> Dashboard</a>
        </li>
        <li>
            <a href="#" class="text-decoration-none">Editoriales</a>
        </li>
        <li>
            <a href="#" class="text-decoration-none">Mangas</a>
        </li>
        <li>
            <a href="#" class="text-decoration-none"><fa-icon [icon]="iconVolumenes"></fa-icon> Volúmenes</a>
        </li>
    </ul>
    <hr class="h_color mx-3">
</div>