<section class="sesion">
    <div class="sesion-container">
        <div class="sesion-info">
            <div class="container mt-4">
                <h1 class="text-center">漫画</h1>
                <h2 class="text-center">Mangastore</h2>
                <ul class="list-unstyled ms-4">
                    <li>
                        <span class="ms-2">Av. Tingo María 435 - Breña</span>
                    </li>
                    <li>
                        <span class="ms-2">ventas@mangastore.com</span>
                    </li>
                    <li>
                        <span class="ms-2">971 150 368</span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="registrado" class="sesion-form">
            <div data-aos="zoom-in">
                <h1 class="text-center fw-bold">Iniciar Sesión</h1>
                <div class="form-box">
                    <div class="container col-lg-8">
                        <form class="needs-validation" method="POST">
                            <label class="form-label">Correo:</label>
                            <input [(ngModel)]="usuario.email" type="text" class="form-control mb-3" name="correo"
                                placeholder="Ingrese su correo">
                            <label class="form-label">Contraseña:</label>
                            <input [(ngModel)]="usuario.password" type="password" class="form-control mb-3"
                                name="password" placeholder="Ingrese su contraseña">
                            <input (click)="login()" class="btn btn-sesion mb-3 w-100" type="submit"
                                value="Iniciar Sesión" />
                            <span>Aún no estás registrado? <span class="login-registro"
                                    (click)="LoginRegistro()">Registrate
                                    aquí</span></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!registrado" class="sesion-form">
            <div data-aos="zoom-in">
                <h1 class="text-center fw-bold">Registrate con nostros</h1>
                <div class="form-box">
                    <div class="container col-lg-8">
                        <form class="needs-validation" method="POST" novalidate>
                            <div class="row mb-1">
                                <div class="col-lg-6">
                                    <label>Nombres:</label>
                                    <input type="text" [(ngModel)]="nuevoUsuario.nombres" name="nombres"
                                        class="form-control" placeholder="Nombres" required />
                                </div>
                                <div class="col-lg-6">
                                    <label>Apellidos:</label>
                                    <input type="text" [(ngModel)]="nuevoUsuario.apellidos" name="apellidos"
                                        class="form-control" placeholder="Apellidos" required />
                                </div>
                            </div>
                            <label>Email:</label>
                            <input type="text" [(ngModel)]="nuevoUsuario.email" name="email" class="form-control mb-1"
                                placeholder="Ingrese su correo electrónico" required />
                            <label>Contraseña:</label>
                            <input type="password" [(ngModel)]="nuevoUsuario.password" name="passw"
                                class="form-control mb-1" placeholder="Ingrese su contraseña" required />
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label>Teléfono:</label>
                                    <input type="text" [(ngModel)]="nuevoUsuario.telefono" name="telefono"
                                        class="form-control" placeholder="Ingrese su telefono" required />
                                </div>
                            </div>
                            <input class="btn btn-sesion mb-3 w-100" type="submit"
                                value="Registrate" (click)="registrar()" />
                            <span>Ya tienes una cuenta? <span class="login-registro" (click)="LoginRegistro()">Inicia
                                    Sesión</span></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>