<ul class="nav justify-content-center bg-dark p-2">
    <li class="nav-item">
        <a class="link-categoria nav-link active text-light" [routerLink]="['/demografia/kodomo']">
            Kodomo
        </a>
    </li>
    <li class="nav-item">
        <a class="link-categoria nav-link active text-light" [routerLink]="['/demografia/shonen']">
            Shōnen
        </a>
    </li>
    <li class="nav-item">
        <a class="link-categoria nav-link active text-light" [routerLink]="['/demografia/shojo']">
            Shōjo
        </a>
    </li>
    <li class="nav-item">
        <a class="link-categoria nav-link active text-light" [routerLink]="['/demografia/seinen']">
            Seinen
        </a>
    </li>
    <li class="nav-item">
        <a class="link-categoria nav-link active text-light" [routerLink]="['/demografia/josei']">
            Josei
        </a>
    </li>
</ul>
<ul class="nav justify-content-center bg-success">
    <li class="nav-item">
        <p class="text-white mb-1 mt-1">Envío gratis en compras desde <span class="fw-bold">S/.300.00</span></p>
    </li>
</ul>