<app-navbar></app-navbar>
<div *ngIf="volumen" class="container p-5">
    <h2 class="fw-bold display-5">{{volumen.nombre_volumen}}</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item"><a
                    [routerLink]="['/demografia',volumen.manga.genero.nombre]">{{volumen.manga.genero.nombre}}</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/catalogo/volumenes']">{{volumen.manga.nombre_manga}}</a>
            </li>
            <li class="breadcrumb-item active">{{volumen.nombre_volumen}}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>
<app-footer></app-footer>