<section class="footer bg-light">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="footer-info">
                    <div class="footer-logo">
                        <h3 class="mt-4 fw-bold">Mangastore</h3>
                    </div>
                    <p>Estamos dispuestos a brindar nuestro mejor servicio, por el bienestar de todos</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h3>Frecuentes</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Locales</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h3>Cuenta</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a [routerLink]="['/login']">Ingresar</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Lista de deseos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-widget">
                    <h3>Ayuda</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Reclamos</a></li>
                        <li><a href="#">Servicio Online</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center py-3 bg-dark">
        <div class="container">
            <p class="mb-0 text-light">
                Copyright &copy; 2022 漫画 Mangastore. Todos los derechos reservados.
            </p>
        </div>
    </div>
</section>